<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Exercise</th>
      <th scope="col">Tempo</th>
      <th scope="col">Sets</th>
      <th scope="col">Reps</th>
      <th scope="col">Rest (secs)</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each object as |workouts|}}
      {{#each workouts as |workout|}}
        <tr>
          <th scope="row">{{workout.date}}</th>
              <td>{{workout.exercise.name}}</td>
              <td>{{workout.tempo}}</td>
              <td>{{workout.sets}}</td>
              <td>{{workout.reps}}</td>
              <td>{{workout.rest_in_seconds}}</td>
              <td><button data-id= {{workout.id}} type="button" class="btn btn-primary">Update</button></td>
              <td><button data-id= {{workout.id}} type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
