{{#each object as |exercises|}}
  {{#each exercises as |exercise|}}
    {{log this}}
    <div class="col-md-4 col-sm-6">
      <h2>{{exercise.id}} {{exercise.name}}</h2>
      <p>{{exercise.description}}</p>
      <iframe src="{{exercise.link}}" alt="{{exercise.id}}"></iframe>
    </div>
  {{/each}}
{{/each}}
